
.avatar.proportioned{
width: 300px;
height: auto;
}

.avatar.distorted{
    width: 200px;
    height: 400px;
    
}




.container .text{
    background-color: yellow;
    color: red;

}













.bbackground,
.ybackground{
font-size: 28px;
font-family: Helvetica, Times, sans-serif;
}

.bbackground{

    background-color: black;
    color: white;
}

.ybackground{

    background-color: yellow;
}

